
.nav-menu{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: space-between;
  background-color: #cf3737;
  border-radius: 9px;
  text-decoration: none;

}
.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-area img {
  width:200px;
  height: auto;  

}
.logo-area h1 {
  font-size: 1px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #a8f7cf;
  margin: 0;
}

.nav-menu{
  list-style-type: none;
  font-size: 16px;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  text-decoration: none;

}
 
ul li{
  float: left;
  
}
ul li a{
  display: block;
  text-align: left;
  color: rgb(210, 67, 179);
  padding: 25px 16px;
  margin: 25px  16px


}

.slide-container {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}

.image-container {
  width: 100%;
  height: 600px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;

}
.slider-image {
 float: left;
 margin: 0px;
 padding: 0px;  
}
.button-container{
  top:-20px;
  position: relative;
}
.slider-button{
  display: inline-flexbox;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: white;
}

.content{
  padding: 10px;
  margin: 7px;
  font-style: inherit;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  text-align: center;
}
.Buttom-nav{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  gap:30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: space-between;
  background-color: #a8f7cf;
  border-radius: 9px;

}
.Butt-menu{
  list-style-type: none;
  font-size: 16px;
  margin: 0;
  padding: 15px;
  gap: 90px;
  overflow: hidden;

}
 
ul li{
  float: left;
  text-decoration: none;
  
}
ul li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(130, 175, 211);
  padding: 25px 16px;
  margin: 25px  16px


}
.video-container{
  position: relative;
  width: 800px;
  padding-bottom:  56.25%;
  height: 550px;
  margin:o auto;
  border-radius:50px;
}
.video-contaoner video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
 object-fit: fill;
}
button a{
  width: 100%;
  height: 100%;
  padding: 10px;
  color:rgb(73, 74, 114);
  border-radius: 70px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
 text-decoration: solid;
}
center {
  background-color: aquamarine;
  color:rgb(5, 88, 190);
  padding-left: center;
  margin: 20px;
  width: 300px;
  height: 300px;
  border: blueviolet;

}
.FKN{
   display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: space-between;
  background-color: #a8f7cf;
  border-radius: 9px; 
  text-align: center;
  text-decoration: none;
}